{% include "appBookflix/navbar.html" %}

<p><a href="/estadisticas"> Volver </a></p>

   <p> Libros Mas Leidos</p>
   {%for i in libros%}
      <p>Titulo: {{i.libro.title}}, cantidad de veces leido: {{i.cantidad}}    |
         <a href="/admin/bookflix/book/{{i.libro.id}}/change"> editar</a>
      </p>
   {%endfor%}
   <p>-------------------------------------------------------------------</p>
   <p>Libros Por Capitulo Mas Leidos</p>
   {%for i in librosCap %}
      <p>Titulo: {{i.libro.title}}, cantidad de veces leido: {{i.cantidad}}    | 
         <a href="/admin/bookflix/bookbychapter/{{i.libro.id}}/change"> editar</a>
      </p>
   {%endfor%}


