
<body>
    {% include "appBookflix/navbar.html" %}
    {% csrf_token %}
    <div class="row" style="margin-top: 50px;">
        <div class="col text-center">
            <h3>¿Realmente quiere borrar el perfil con nombre {{perfil.name}}? </h3>
            <p style="margin: 5px;">Si es así oprima el botón "Borrar Perfil"</p>
        </div>
       
    </div>
    <div class="row" >
        <div class="col text-center">
            <a style="margin: 15px;" type="button" class="btn btn-primary"href="/borrar_perfil_definitivo/{{perfil}} ">Borrar Perfil</a>
            <a style="margin: 15px;" type="button" class="btn btn-secondary"href="/select_perfil/">Volver a la página anterior</a>
        </div>
    </div>

</body>
</html>