{% include "appBookflix/navbar_home.html" %}



<div class="container py-5">
<form method="post">
    {% csrf_token %}

{% for field in rango2 %}
  {{field.label_tag}}
  {{field}}
{% endfor %}
    <button type="submit">Buscar suscriptores</button>
</form>

 


<table id="example" class="table table-striped table-bordered" style="width:100%">
<br>

          {% if suscriptores%}
           <p>Suscriptores entre las fechas seleccionadas:</p>
        <thead>
            <tr>
                <th>Nombre de usuario</th>
                <th>Email</th>
                <th>Fecha de suscripción</th>
                <th>Plan</th>
                <th>Última actividad</th>
            </tr>
        </thead>
         {% for suscriptor in suscriptores%}
        <tbody>
            <tr>
                <td>{{ suscriptor.username}}</td>
                <td>{{suscriptor.email}}</td>
                <td>{{suscriptor.date_joined}}</td>
                <td>{{suscriptor.plan}}</td>
                <td>{{suscriptor.last_login}}</td>
            </tr>
           {%endfor %}
          
          {%else%}
          <p>Busque suscriptores en un rango de fechas</p>
          {%endif%}
        </table>

        </div>