{% include "appBookflix/navbar.html" %}

<form method="post">
    {% csrf_token %}

{%for field in form%}
  {{field.label_tag}}
  {{field}}
{%endfor%}
    <button type="submit">Buscar</button>
  </form>

<table>
    <tr>
      <td class="first">

        <p>Libros:</p>
          {% if libros%}
            {%for libro in libros%}
              <p> <a href="/leer_libro/{{libro.isbn}}"> {{ libro.titulo}} </a> <br> Autor: {{libro.autor}}, editorial: {{libro.editorial}} <br>
              generos: {%for gen in libro.genders.all%} {{gen.name}} , {% endfor%}
              </p>
            {%endfor %}
          {%endif%}
      </td>
      <td>

        <p>Libros Por Capitulo:</p>
          {% if librosCap%}
            {%for libro in librosCap%}
            <p> <a href="/libro_capitulo/{{libro.isbn}}"> {{ libro.title}} </a> <br> Autor: {{libro.author}}, editorial: {{libro.editorial}} <br>
              generos: {%for gen in libro.genders.all%} {{gen.name}} , {% endfor%}
              </p>
            {%endfor %}
          {%endif%}
      </td>
    </tr>
</table>