{% include "appBookflix/navbar_home.html" %}



<div class="container">

<form method="post" input class="form-control" id="listSearch" type="text" placeholder="" >
    {% csrf_token %}

{%for field in form%}
  {{field.label_tag}}
  {{field}}
{%endfor%}
    <button type="submit">Buscar</button>
  </form>

<table class="table table-bordered">
    <tr>
     <thead>
    <tr>
      
      <th scope="col">Libros completos</th>
      <th scope="col">Libros por capítulos</th>
    </tr>
    </thead>

    <tbody>
    <tr>
     
      <td>
       {% if libros%}
            {%for libro in libros%}
           
              <p><li class="list-group-item"> <a href="/leer_libro/{{libro.isbn}}"> {{ libro.titulo}} </a> <br> Autor: {{libro.autor}}, editorial: {{libro.editorial}} <br>
              generos: {%for gen in libro.genders.all%} {{gen.name}} , {% endfor%} </li>
              </p>
            {%endfor %}
          {%endif%}
      
      </td>
      <td>
           {% if librosCap%}
            {%for libro in librosCap%}
            <p><li class="list-group-item"> <a href="/libro_capitulo/{{libro.isbn}}"> {{ libro.title}} </a> <br> Autor: {{libro.author}}, editorial: {{libro.editorial}} <br>
              generos: {%for gen in libro.genders.all%} {{gen.name}} , {% endfor%}</li>
              </p>
            {%endfor %}
          {%endif%}
      
      </td>
     
    
</table>
</div>



