{% include "appBookflix/navbar.html" %}
<form method="POST"> {% csrf_token %}

    {% if request.session.ErrorDePerfil == "1"%}
        <p>recuerde que no pueden existir dos perfiles con en el mismo nombre en una cuenta.</p>
    {% else %}
        <p style="color:blueviolet;">No puede existir dos perfiles con igual nombre en la cuenta</p>
    {% endif %}

    <p> Seleccione nombre de su perfil</p>
    {% for field in profile_creation_form %}

        {{field.label_tag}}
        {{field}}
    
    {% endfor %}
    <button type="submit">Cambiar Nombre</button>
</form>