{% load static %}

{% include "appBookflix/navbar_home.html" %}

<div class="container py-5">

 {% if libros_favoritos %}
<div center>
<h1>Mis libros favoritos</h1>
</div>  
<br>
<br>
{% for libro in libros_favoritos %}
    
  <div class="row">
    <div class="col-lg-8 mx-auto">

      <!-- List group-->
      <ul class="list-group shadow">

        <!-- list group item-->
        <li class="list-group-item">
          <!-- Custom content-->
          
          <div class="media align-items-lg-center flex-column flex-lg-row p-1">
            <div class="media-body order-2 order-lg-1">
            <a href="/leer_libro/{{libro.book.isbn}}">{{libro.book.titulo}}</a> 
              <p class="font-italic text-muted mb-0 small">{{estado.book.descripcion}}</p>
              <div class="d-flex align-items-center justify-content-between mt-1">
                 <p> Autor: {{libro.book.autor.nombre}}, {{libro.book.autor.apellido}} </p>
                                     <p> Género: {%for genero in libro.book.genero.all %}
                                          | {{genero.nombre}} |

                                                {% endfor %}
                                       </p>
                <ul class="list-inline small">
                  <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                  <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                  <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                  <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                  <li class="list-inline-item m-0"><i class="fa fa-star-o text-gray"></i></li>
                   <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                  <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                  <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                  <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                  <li class="list-inline-item m-0"><i class="fa fa-star-o text-gray"></i></li>
                   <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                  <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                  <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                  <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                  <li class="list-inline-item m-0"><i class="fa fa-star-o text-gray"></i></li>
                   <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                  <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                  <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                  <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                  <li class="list-inline-item m-0"><i class="fa fa-star-o text-gray"></i></li>
                </ul>
              </div>
            </div><img src="{{libro.book.portada.url}}" alt="Generic placeholder image" width="200" class="ml-lg-5 order-1 order-lg-2">
              
          </div>
          <!-- End -->
        </li>
        <!-- End -->
      </ul>
      <!-- End -->
    </div>
  </div>
  <br>
   
  {% endfor %}
{% else %}
        <p>No hay libros agregados a favoritos</p>
    {% endif %}








<div center>
<h1>Mis libros por capítulo favoritos</h1>
</div>  
<br>
<br>
{% if libros_por_capitulo_favoritos %}

<br>

   {% for libro in libros_por_capitulo_favoritos %}  
  <div class="row">
    <div class="col-lg-8 mx-auto">

      <!-- List group-->
      <ul class="list-group shadow">

        <!-- list group item-->
        <li class="list-group-item">
          <!-- Custom content-->
          
          <div class="media align-items-lg-center flex-column flex-lg-row p-1">
            <div class="media-body order-2 order-lg-1">
            <a href="/leer_libro/{{libro.book.isbn}}">{{libro.book.titulo}}</a> 
              <p class="font-italic text-muted mb-0 small">{{estado.book.descripcion}}</p>
              <div class="d-flex align-items-center justify-content-between mt-1">
                 <p> Autor: {{libro.book.autor.nombre}}, {{libro.book.autor.apellido}} </p>
                                     <p> Género: {%for genero in libro.book.genero.all %}
                                          | {{genero.nombre}} |

                                                {% endfor %}
                                       </p>
                <ul class="list-inline small">
                  <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                  <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                  <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                  <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                  <li class="list-inline-item m-0"><i class="fa fa-star-o text-gray"></i></li>
                   <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                  <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                  <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                  <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                  <li class="list-inline-item m-0"><i class="fa fa-star-o text-gray"></i></li>
                   <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                  <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                  <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                  <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                  <li class="list-inline-item m-0"><i class="fa fa-star-o text-gray"></i></li>
                   <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                  <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                  <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                  <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                  <li class="list-inline-item m-0"><i class="fa fa-star-o text-gray"></i></li>
                </ul>
              </div>
            </div><img src="{{libro.book.portada.url}}" alt="Generic placeholder image" width="200" class="ml-lg-5 order-1 order-lg-2">
              
          </div>
          <!-- End -->
        </li>
        <!-- End -->
      </ul>
      <!-- End -->
    </div>
  </div>
  <br>
   
  {% endfor %}
  {% else %}
        <p>No hay libros por capítulo agregados a favoritos</p>
    {% endif %}




<div center>
<h1>Mis capítulos favoritos</h1>
</div>  
<br>
<br>
 {% if capitulos_favoritos %}

<br>

   {% for capitulo in capitulos_favoritos %}
  <div class="row">
    <div class="col-lg-8 mx-auto">

      <!-- List group-->
      <ul class="list-group shadow">

        <!-- list group item-->
        <li class="list-group-item">
          <!-- Custom content-->
          
          <div class="media align-items-lg-center flex-column flex-lg-row p-1">
            <div class="media-body order-2 order-lg-1">
            <a href="/libro_capitulo/{{capitulo.book.isbn}}">{{capitulo.book.title}}</a> 
              <p class="font-italic text-muted mb-0 small">{{estado.book.descripcion}}</p>
              <div class="d-flex align-items-center justify-content-between mt-1">
                 <p> Autor: {{capitulo.book.author.nombre}}, {{capitulo.book.author.apellido}} </p>
                                     <p> Género: {%for genero in capitulo.book.genders.all %}
                                          | {{genero.nombre}} |

                                                {% endfor %}
                                       </p>
                <ul class="list-inline small">
                  <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                  <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                  <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                  <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                  <li class="list-inline-item m-0"><i class="fa fa-star-o text-gray"></i></li>
                   <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                  <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                  <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                  <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                  <li class="list-inline-item m-0"><i class="fa fa-star-o text-gray"></i></li>
                   <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                  <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                  <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                  <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                  <li class="list-inline-item m-0"><i class="fa fa-star-o text-gray"></i></li>
                   <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                  <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                  <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                  <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                  <li class="list-inline-item m-0"><i class="fa fa-star-o text-gray"></i></li>
                </ul>
              </div>
            </div><img src="{{libro.book.portada.url}}" alt="Generic placeholder image" width="200" class="ml-lg-5 order-1 order-lg-2">
              
          </div>
          <!-- End -->
        </li>
        <!-- End -->
      </ul>
      <!-- End -->
    </div>
  </div>
  <br>
   
  {% endfor %}
  {% else %}
        <p>No hay capítulo agregados a favoritos</p>
    {% endif %}











</div>











</div>

