<html>
    <body>
        {% include "appBookflix/navbar.html" %}

        {% if sesion.nombrePerfil %}
        <h1>Historial de lecturas de {{sesion.nombrePerfil}} </h1> <!--ACÁ SE PODRÍA METER EL UN HIPERVINCULO EL NOMBRE-->
            {% if historial_libros %}
            {% for estado in historial_libros %}
                {% if estado.profile.name == sesion.nombrePerfil %}   
                    <li style="display:inline-block; margin: 20px;">
                        <div>
                            <h3>El perfil {{estado.profile}} terminó el libro: {{estado.book}} </h3>
                            <br>
                            <img style="max-width:275px; max-height:275px;" src="{{estado.book.portada.url}}"  alt="fondo" > 
                        </div>
                        <br>
                    </li>
                {% endif %}
            {% endfor %}


            {% if historial_libros_cap %}
            {% for estado in historial_libros_cap %}
                {% if estado.profile.name == sesion.nombrePerfil %}
                    <li style="display:inline-block; margin: 20px;">
                        <div>
                            <h3>El perfil {{estado.profile}} terminó el capítulo: {{estado.book}}</h3>
                            <br>
                            <img style="max-width:275px; max-height:275px;" src="{{estado.book.portada.url}}"  alt="fondo" > 
                        </div>
                        <br>
                    </li>
                {% endif %}
            {% endfor %}
            {% endif %}


            {% else %}
            <p>No hay solicitudes de alta disponibles</p>
            {% endif %}
        {% endif %}
    </body>
</html>