{% extends 'appBookflix/base.html' %}
{% block content %}
{% include "appBookflix/navbar_login.html" %}
<div class="row row justify-content-center align-items-center minh-100" style="margin-top: 50px;">
<div class=".col-md-6 .offset-md-3">
    <div class="card text-center">
        <div class="card-header">
           <h3> Registro </h3>
        </div>
<div class="card-body text-left" >
<form method="post">{% csrf_token %}
    {% for field in user_creation_form%}
        <p>
            {{field.label_tag}}
            {{field}}

            {% if field.help_text %}
                <small style="color: grey;">{{field.help_text}}</small>
            {% endif %}

            {% for error in field.errors %}
                <p style="color:red;">{{error}}</p>
            {% endfor %}
        </p>
    {% endfor %}

    <p>Datos de su tarjeta</p>
    {% for field in creacion_tarjeta %}
    <p>
        {{field.label_tag}}
        {{field}}

        {%for error in field.errors%}
            <p style="color: red;">{{error}} </p>
        {% endfor %}
    </p>
    {% endfor %}    

    <p></p>

    
    <div class="text-center">
        <button class="btn btn-dark" type="submit">Registrame</button>
        <a class="btn btn-dark" href="/">Cancelar</a>
        </div>
</form>
</div>
</div>
</div>
{% endblock content %}


