<html>
<body>
    {% if request.user.is_active %}
        {% include "appBookflix/navbar.html" %}
        <h1 style="color: black; margin: 10;">
        {% if request.user.plan == "free" or request.user.plan == "normal" %}
            {% if perfiles|length > 0 %}
                Seleccione cual Perfil quiere utilizar de su cuenta
                {% for perfil in perfiles %} 
                    <p>
                        <a style="margin: 10;" href="/perfil_seleccionado/{{perfil.id}}">{{perfil.name}}</a>  
                        <a style="font-size: 15px; margin-left: 15px;" href="/cambiar_nombre/{{perfil.name}}">Cambiar Nombre</a>
                        <a style="font-size: 12px; margin: 15px;" href="/borrar_perfil/{{perfil.name}}">Borrar Perfil</a>
                    </p>
                {% endfor %}
                {% if perfiles|length < 2 %}
                    <a href="/crear_perfil/">CrearPerfil</a>
                {% endif %}
            {% else %}
                <h1>Buenas! {{request.user.username}} por favor cree un perfil</h1>
                <a href="/crear_perfil/">CrearPerfil</a>
            {% endif %}
        {% elif request.user.plan == "normal" %}
            {% if perfiles|length > 0 %}
                Seleccione cual Perfil quiere utilizar de su cuenta
                {% for perfil in perfiles %}
                    <p>
                        <a style="margin: 10;" href="/perfil_seleccionado/{{perfil.id}}">{{perfil.name}}</a>  
                        <a style="font-size: 15px; margin-left: 15px;" href="/cambiar_nombre/{{perfil.name}}">Cambiar Nombre</a>
                        <a style="font-size: 12px; margin: 15px;" href="/borrar_perfil/{{perfil.name}}">Borrar Perfil</a>
                    </p>

                {% endfor %}
                {% if perfiles|length < 2 %}
                    <h3>Para crear otro perfil haga click en abajo {{request.user.username}} por favor cree un perfil</h3>
                    <a href="/crear_perfil/">CrearPerfil</a>
                {% endif %}
            {% else %}
                <h1>Buenas! {{request.user.username}} por favor cree un perfil</h1>
                <a href="/crear_perfil/">CrearPerfil</a>    
            {% endif %}
        {% elif request.user.plan == "premium" %}
            {% if perfiles|length > 0 %}
                <b>Seleccione cual Perfil quiere utilizar de su cuenta premium </b>
                {% for perfil in perfiles %} 

                    <p>
                        
                        <a style="margin: 10;" href="/perfil_seleccionado/{{perfil.id}}">{{perfil.name}}</a>  
                        <a style="font-size: 15px; margin-left: 15px;" href="/cambiar_nombre/{{perfil.name}}">Cambiar Nombre</a>
                        <a style="font-size: 12px; margin: 15px;" href="/borrar_perfil/{{perfil.name}}">Borrar Perfil</a>
                    </p>

                {% endfor %}
                {% if perfiles|length < 4 %}
                    <h3 style="margin: 10;">Para crear otro perfil haga click en abajo {{request.user.username}} por favor cree un perfil</h3>
                    <a style="margin: 10;" href="/crear_perfil/">CrearPerfil</a>
                {% endif %}
            {% else %}
                <h3>Buenas! {{request.user.username}} por favor cree un perfil</h3>
                <a style="margin: 10;" href="/crear_perfil/">CrearPerfil</a>    
            {% endif %}
        
        {% endif %}
 
        
    {% else %}       
        <hr>   
        <h1>Área solo para usuarios logueados</h1>
    {% endif %}

</body>


</html>



















