


<html>
    {% include "appBookflix/navbar.html" %}
    <body>
    {% if request.session.solicitud == "0" %}
    <div class="alert alert-info" role="alert">
        Usted ya tiene una solicitud pendiente
      </div>
    {% else %}
        <div class="container" style="width: 700px;">
            <div class="row justify-content-center align-items-center minh-100" style="margin-top: 50px;">
                <h2>Precios de Planes</h2>
            </div>
            <div class="row"> 
                <table class="table text-center" style="margin-bottom: 50px;">
                <thead>
                  <tr>
                    <th scope="col">Plan</th>
                    <th scope="col">Precio subscripción mensual</th>
                    <th scope="col">Cantidad de perfiles disponibles</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">Base</th>
                    <td>$ xxx <span style="font-size: 12px;">(primer mes ¡GRATIS!)</span></td>
                    <td>2</td>
                  </tr>
                  <tr>
                    <th scope="row">Premium</th>
                    <td>$ xxx</td>
                    <td>4</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="alert alert-info" role="alert">
                {{ request.session.ErrorSolicitudCambio}}
              </div>

              <form method="POST"> {% csrf_token %}
              <div class="row">
                  {{ solicitud }} 
                </div>
            <div class="row">
              <input style="margin: 15px;" type="submit" class="btn btn-primary" value="SolicitarCambio">  
              <a style="margin: 15px;" type="button" class="btn btn-secondary"href="/select_perfil/">Volver a la página anterior</a>
            </div>  
            </form>
              {%endif%}
        </div>
</body> 


</html>