<html>
<head>
{% load static %}

</head>
<body>
{% include "appBookflix/navbar.html" %}

{%if editar == 'True' or user.is_admin%}

<form method="POST"> {% csrf_token %}
    
    {% for field in form %}
        {{field.label_tag}}
        {{field}} 
    {% endfor %}
   
<input type="submit" value="comentar">  
 </form>
<p> <a href="/borrarcomentario/{{comentario.id}}/{{isbn}}/{{aux}}"> borrar</a> </p>

{% else %}

<p>Comentario: </p>
<p> {{comentario.description}}</p>
<p>-------------------</p>
<p> Autor: {{comentario.profile}} </p>


{%endif%}

{%if aux == '1' %}
    <a href="/leer_libro/{{isbn}}"> volver a su libro</a>
{%elif aux == '2' %}
    <a href="/libro_capitulo/{{isbn}}"> volver a su libro por capitulo</a>
{%else%}
    <a href="/vermiscomentarios/"> volver a su perfil</a>
{%endif%}
</body>
</html>




